<h1>Most Recent Tweets</h1>

<hr />

<table>
	<% @tweets.each do |tweet| %>
	<tr><td>"<%= tweet.content %>"
		<br />@<%= tweet.handle %>
	</td>
	<td><%= link_to 'Show', tweet %> </td></tr>
		<!-- the line above is messing things up... I've tried tweet, -->
	</td></tr>
	<% end %>
	</table>
</table>